

.syntax--json {
  color:#fff;

  &.syntax--string, .syntax--punctuation.syntax--definition.syntax--array {
    color:#fff !important;
  }

  &.syntax--constant.syntax--numeric {
    color: @purple;
  }

  &.syntax--value {
    .syntax--string.syntax--quoted.syntax--double {
      color:@purple !important;
    }
  }
}
